{% extends 'base.html'%}

{% block title %}
Страница про нас
{% endblock %}

{% block body %}
<h1 style="margin-left: 25%;"> Немного про нас </h1>
<div class="div_about">
    С появлением большого числа информационных баз данных (БД) ведение
    «Бизнес-разведки» становится важным инструментом для успешного поддержания
    бизнеса. Наша команда профессионально владеет навыками
    информационно-аналитической работы, позволяющими собирать и обобщать
    информацию о юридических и физических лицах из открытых источников,
    без применения противозаконных методов. Если вам необходимо получить
    точные данные о контрагенте, то вы обратились по адресу.

</div>
{% endblock %}
