<!doctype html>
<html lang="ru">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"><meta name="viewport" content="width=device-width; initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta id="vp" name="viewport" content="width=device-width, initial-scale=1">
    <script>
      if (screen.width < 720)
        {
          var mvp = document.getElementById('vp');
          mvp.setAttribute('content','initial-scale=0.1');
        }
    </script>

    <meta name="description" content="Поиск информации о людях;
    Competitive Intelligence; Конкурентная разведка; Глаз Бога; Касперский;">


    <link rel="shortcut icon" href="static/css/img/favicon_owl.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/main.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class = "wrapper">
      <img src="static/css/img/comp-intel.jpg" alt="" style="width:100%;object-fit:cover;object-position:50% 50%;  position:fixed; top:0;">
      <div  align="center" style="margin-top: 5%">
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <a class="me-3 py-2   text-decoration-none" href="/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Главная</font></font></a>
          <a class="me-3 py-2   text-decoration-none" href="/about"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">О нас</font></font></a>
          <a class="me-3 py-2   text-decoration-none" href="/contact"><font style="vertical-align: inherit;">Контакты</font></font></a>
          <a class="me-3 py-2   text-decoration-none" href="/books"><font style="vertical-align: inherit;">Книги</font></font></a>
          <a class="me-3 py-2   text-decoration-none" href="/report"><font style="vertical-align: inherit;">Пример отчета</font></font></a>
          <a class="me-3 py-2   text-decoration-none" href="/services"><font style="vertical-align: inherit;">Услуги</font></font></a>
        </nav>
      </div>

      <div class="content" >
            {% block body %}{% endblock %}
      </div>


      <footer class="container">
              <div class="rights">
                 <div align="center" class="h3" ><font
                         style="vertical-align: inherit;"><font
                         style="vertical-align: inherit; color: #E6399B;  margin-left: 0%; margin-top: 50%;">© Comp-intel
                   {{year}} </font></font></div>
              </div>
      </footer>

      <div class="div_ist">Перечень используемых источников :
        ГИБДД, ПФР, ФНС, Росстат, ЕГРЮЛ, ФМС, ФСПП, ФНП, ЕАИСТО, РСА, ЕФРСБ,
        ФСФМ, Росреестр, Центр раскрытия корпоративной информации, Фокус СКБ,
        Вконтакте, Facebook, Instagram, Одноклассники, Skype, WhatsApp,
        Viber, Avito, Youla (Юла), Из рук в руки – Irr.ru, Avto.ru, Циан,
        Яндекс, Google, Telegram, Mail.ru, Headhunter, Rusprofile,
        TrueCaller, Twitter, MTS, Билайн, Мегафон, Тинькофф Мобайл, Tele2,
        ICQ, GetContact, Foursquare, GitHub, Drive2.ru, Автокод
      </div>
    </div>
  </body>
</html>
