{% extends 'base.html'%}

{% block title %}
Книги
{% endblock %}

{% block body %}


    <div class="container" id="container"><div align="center" class="h1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit; font-style: italic;color:#6A48D7">Уроки от гуру</font></font></div>


    <a href="https://am.news/worlds/krpart1.pdf" target="_blank"  title="Конкурентная разведка Часть 1" >
        <img src="https://am.news/worlds/krpart1.jpg"  alt="Конкурентная разведка. Часть 1">
    </a>
    <a href="https://am.news/worlds/krpart2.pdf" target="_blank"  title="Конкурентная разведка Часть 2" >
        <img src="https://am.news/worlds/krpart2.jpg"  alt="Конкурентная разведка. Часть 2">
    </a>
      <span class="close"></span></div>



{% endblock %}
