{% extends 'base.html'%}

{% block title %}
Страница про нас
{% endblock %}

{% block body %}
<h1 style="margin-left: 25%;"> Наши услуги </h1>
<div class="div_about">
  <ul>
    <li> Проверка кандидата при приеме на работу </li>
    <li> Проверка  контрагента </li>
    <li> Проверка  физического или юридического лица </li>
    <li> Анализ групп и каналов в Telegram </li>
  </ul>
</div>



<h2 style="margin-left: 25%;">Проверить чат в Telegram</h2>
  <div class="container mt-5"  style="width:70%; height:70%;">
    <form method="post" enctype="multipart/form-data" >
      <input type="text" name="channel" id="channel" class="form-control"
             placeholder="Введите название объявления"><br>

      <fieldset>
      <legend>Выбирете тип отчета:</legend>
        <div>
          <input type="checkbox" id="messages" name="messages" />
          <label for="messages">Сообщения</label>
        </div>
        <div>
          <input type="checkbox" id="users" name="users" />
          <label for="users">Пользователи</label>
        </div>
      </fieldset>
      <input type="submit"  class="btn btn-success" value="Отправить">
    </form>
  </div>
{% endblock %}