{% extends 'base.html'%}

{% block title %}
Связаться с нами
{% endblock %}

{% block body %}
<div  align="center" class="h3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit; color:#6A48D7">
    <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Telegram:</font></font></strong></p>
    <a href="https://t.me/RattButler"><img src="static/css/img/tlg_icon.png"></a>
    <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Электронное письмо:</font></font></strong></p>
    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> </font></font><a href="mailto:taren4ikDOTprotonmail.com" onclick="this.href=this.href.replace(/AT/,'@').replace(/DOT/,'.')""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Связаться со мной</font></font></a></div>

</div>
{% endblock %}