{% extends 'base.html'%}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<h1 style="margin-left: 25%;"> Конкурентная разведка </h1>

<div class="div_index">Умение находить интересующую информацию – это навык,
    продиктованный современностью. Во времена, когда не существовало такого
    объема данных мы получали её лишь в той мере, какая была необходима для
    нормального течения жизни. Сегодня, нас окружает огромный океан
    информации в котором необходимо свободно ориентироваться самому, либо
    поручать её сбор и анализ профессионалам. Недаром в университетах уже
    ведется подготовка специалистов по сбору и анализу «цифрового следа».
    Для поиска информации таким специалистам необходимо умело сочетать навыки
    работы с различными источниками информации, методами OSINT и т.д.
        Данный ресурс создан с целью помочь найти интересующую вас информацию.
</div>

{% endblock %}