{% extends 'base.html'%}

{% block title %}
Изменение данных
{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1> Добавление пользователя </h1>
    <form  method="post" autocomplete="off">
        <input  type="text" name = "Firstname" id="Firstname" class="form-control" value={{user.Firstname}} placeholder="Веди Имя" ><br>
        <input  type="text" name="Lastname" id="Lastname" class="form-control" value={{user.Lastname}} placeholder="Веди Фамилию"><br>
        <input  type="text" name="Patronomic" id="Patronomic" class="form-control" value={{user.Patronomic}} placeholder ="Введи Отчество"><br>
        <input  type="tel" name="Phone" id="Phone" class="form-control"  value={{user.Phone}} placeholder ="Введи номер"><br>
        <input  type="submit" class="btn btn-success" value="Обновить">
    </form>
</div>
{% endblock %}